<mat-card>
  <div class="flex-row-nw head">
    <mat-checkbox></mat-checkbox>
    <p>Option A</p>
    <p style="margin-left: auto;">Bank XYZ</p>
    <mat-icon style="line-height: inherit;">toys</mat-icon>
  </div>
  <div class="pad">
    <div class="flex-row">
      <p>Reward</p>
    </div>
    <div class="flex-row">
      <mat-progress-bar mode="determinate" value="36"></mat-progress-bar>
    </div>
  </div>
  <div class="pad">
    <div class="flex-row">
      <p>Risk</p>
    </div>
    <div class="flex-row">
      <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
    </div>
  </div>
  <div class="flex-row pad">
    <p>Minimal amount: None</p>
  </div>
  <div class="flex-row pad">
    <p>Maximal amount: 10000</p>
  </div>
</mat-card>
