<h2 class="pad">Ranking</h2>
<mat-horizontal-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Step 1</ng-template>
      <div class="flex-container">
        <div class="pad">
          <p class="flex-row j-center">How much Would you like to invest?</p>
          <mat-form-field class="flex-row j-center">
            <input matInput placeholder="Amount" formControlName="firstCtrl" required>
            <mat-icon matSuffix>attach_money</mat-icon>
          </mat-form-field>
        </div>
        <div class="pad">
          <p class="flex-row j-center">What are you interested in?</p>
          <div class="flex-row-nw j-center">
            <p class="pad">Low reward<br>Low risk</p>
            <mat-slider style="width: 12em"></mat-slider>
            <p class="pad">High reward<br>High risk</p>
          </div>
        </div>
        <div class="flex-row j-center">
          <button mat-button matStepperNext>Next</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Step 2</ng-template>
      <div class="flex-container">
        <p class="flex-row pad j-center">Choose your options:</p>
        <div class="flex-row j-center">
          <app-option *ngFor="let option of arrOptions"
            [name]="option.name"
            [bank]="option.bank"
            [logo]="option.logo"
            [reward]="option.reward"
            [risk]="option.risk"
            [minInvest]="option.minInvest"
            [maxInvest]="option.maxInvest">
          </app-option>
        </div>
        <div class="flex-row pad"></div>
        <div class="flex-row pad"></div>
        <div class="flex-row j-center fixed pad">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Step 3</ng-template>
      <div class="flex-container">
        <p class="flex-row pad j-center">Divide investment between options:</p>
        <div class="flex-row j-center">
          <div class="flex-row-nw">
            <mat-slider vertical
            thumbLabel
            [displayWith]="formatLabel"
            tickInterval="1000"
            step="100"
            min="0"
            max="1000000"
            value="100000"></mat-slider>
            <app-option name="Option A" [checkable]=false></app-option>
          </div>
          <div class="flex-row-nw">
            <mat-slider vertical
            thumbLabel
            [displayWith]="formatLabel"
            tickInterval="1000"
            step="100"
            min="0"
            max="1000000"
            value="100000"></mat-slider>
            <app-option name="Option B" [checkable]=false></app-option>
          </div>
          <div class="flex-row-nw">
            <mat-slider vertical
            thumbLabel
            [displayWith]="formatLabel"
            tickInterval="1000"
            step="100"
            min="0"
            max="1000000"
            value="200000"></mat-slider>
            <app-option name="Option E" [checkable]=false></app-option>>
          </div>
        </div>
        <div class="flex-row j-center">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </div>
  </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Result</ng-template>
    <div class="flex-container">
      <p class="flex-row pad j-center">Portfolio results</p>
      <div class="flex-row j-center">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">
          <ng-container matColumnDef="option">
            <th mat-header-cell *matHeaderCellDef> Option </th>
            <td mat-cell *matCellDef="let element"> {{element.option}} </td>
          </ng-container>
          <ng-container matColumnDef="investment">
            <th mat-header-cell *matHeaderCellDef> Investment </th>
            <td mat-cell *matCellDef="let element"> {{element.investment}} </td>
          </ng-container>
          <ng-container matColumnDef="return">
            <th mat-header-cell *matHeaderCellDef> Return </th>
            <td mat-cell *matCellDef="let element"> {{element.return}} </td>
          </ng-container>
          <ng-container matColumnDef="profit">
            <th mat-header-cell *matHeaderCellDef> Profit </th>
            <td mat-cell *matCellDef="let element"> {{element.profit}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div class="flex-row j-center pad">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button routerLink="/">Homepage</button>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>
